{% extends 'base.html.twig' %}

{% block title %}Maisons!{% endblock %}

{% block body %}
  <header class="container-fluid p-5 text-center bg-light">
    <div id="header-img"></div>
    <h1>SUBL'IMMO - Toutes les Maisons</h1>
    <h2>L'agence Immobilière 100% en ligne et accesible</h2>
  </header>

  <main class="container-fluid"></main>

  <div class="row">
    {% for maison in maisons %} {# maisons est lié au findAll() dans HomeController.php #}
      <div class="col-4 p-3"> <!-- Kitchen sink -->
        <div class="card">
          <img src="{{ asset('img/maisons/' ~ maison.img1) }}" class="card-img-top" alt="Photo principale {{maison.title}}">
          <div class="card-body">
            <h5 class="card-title">{{maison.title}}</h5>
            <p class="card-text">{{maison.description|u.truncate(90, '...', false)}}</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Surface : {{maison.surface}} m²</li>
            <li class="list-group-item">Pièces : {{maison.rooms}} dont {{maison.bedrooms}} chambres(s)</li>
            <li class="list-group-item">Prix : {{maison.price|number_format(0, ',', ' ')}} €</li>
          </ul>
          <div class="card-body text-center">
            <a href="{{ path( 'maison_show', {'id': maison.id} ) }}" class="btn btn-outline-secondary">Voir Plus</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
