<p>
  <!-- dans la mettre en bas -> HTML preview (attention, ne pas mettre de pièce jointe → platage) -->
  <h2>Coordonnées du contact</h2>
  <ul>
    <li>Nom : {{prenom}} {{nom|upper}}</li>
    <li>Email : {{adressEmail}}</li>
  </ul>

  <h2>Objet : {{objet}}</h2>

  <h2>Message : </h2>
  <p>{{message|nl2br}}</p>
  <!-- nl2br : transforme les saut de ligne en br -->

</p>
